@model TN.DVDCentral.BL.Models.Movie

<div class="row m-2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormatDescription" class="control-label"></label>
                <input asp-for="FormatDescription" class="form-control" />
                <span asp-validation-for="FormatDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorName" class="control-label"></label>
                <input asp-for="DirectorName" class="form-control" />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingDescription" class="control-label"></label>
                <input asp-for="RatingDescription" class="form-control" />
                <span asp-validation-for="RatingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InStkQty" class="control-label"></label>
                <input asp-for="InStkQty" class="form-control" />
                <span asp-validation-for="InStkQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="m-2">
    <a asp-action="Index">Back to List</a>
</div>

