@model IEnumerable<TN.DVDCentral.BL.Models.Genre>
@{
    <ul>
        @foreach(var genre in Model)
        {
            <li>
            // <a asp-controller="Genre"
            //     asp-action="Browse"
            //     asp-route="@genre.Id">
            //         @genre.Description
            // </a>
                @genre.Description
            </li>
            <li><a asp-controller="User" asp-action="Login">Login</a></li>
            <li><a asp-controller="User" asp-action="Login">Login</a></li>
            <li><a asp-controller="Genre" asp-action="Index">All Genres</a></li>
        }
    </ul>
}
